@using Sports_Marker.Web.Models

@model PartialFoulsViewModel


<div id="foulPartial">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<input type="text" value="1" class="counter"/>
<button type="button" class="increment-btn">Increment</button>

</div>